---
import Layout from '../layouts/Layout.astro';
import Terminal from '../components/Terminal.astro';
import { getCollection } from 'astro:content';
// const intro =await getCollection('intro');
// console.log(intro.texts.split('|'));

---

<Layout title="JS Dev">
	<main>
		<Terminal intro="Hola|Prueba|aqui" />
	</main>
</Layout>

<style>
	
</style>
